<div id="sidebar" class="span3">
  <div id="sidebar-nav">
    <ul class="nav nav-list affix">
      <li class="nav-header"><%=t('d2g.nav.about')%></li>
      <li><%= link_to t('d2g.topic1_heading'), notes_source_path(:anchor => 'topic1') %></li>
      <li><%= link_to t('d2g.topic2_heading'), notes_source_path(:anchor => 'topic2') %></li>
      <li><%= link_to t('d2g.topic3_heading'), notes_source_path(:anchor => 'topic3') %></li>
    </ul>
  </div>
</div>
