<h4>Sources</h4>
<p>&nbsp;</p>
<p>This is an attempt to assemble and make accessible in one place every opera and oratorio premiered through 1995.  There is no claim made that this goal has been accomplished, but every work that could be found in published sources, microfilm, and library catalogues is included if it meets the inclusion criteria.<p>

<p>Initial preparation of this database involved gathering information from the New Grove Dictionary of Music and Musicians, Franz Stieger's Opernlexicon, Clemens Grüber's Opern-Uraufführungen, Pipers Enzyklopädie des Musiktheaters, and Kurt Gänzl's The British Musical Theatre and The Encyclopedia of the Musical Theatre.</p>

<p>With the exception of Stieger, all of these sources are highly selective -- to indicate how selective, one of the two most prolific operetta composers, Frédéric-Étienne Barbier, is found only in the Opernlexicon.</p>

<p>This database is not a biographical resource. There are many sources ranging from abysmal to excellent in which one can find biographical data for a portion of the names on the list.  No single source has them all.</p>

<p>Likewise, this is not the place to look for plot synopses, cast lists, set designers, directors, discographies, or critical analysis.  This is a cross-index only.</p>

<p>Some deficiencies to note are:</p>

<p>1.  For whatever reason, Grove made an editorial decision to include only first initials for librettists.  This inexplicable policy creates enormous difficulties and confusion.</p>

<p>2.  Stieger's Opernlexicon is an offset printing of an unedited typed manuscript prepared presumably years earlier.  Countless typographical errors and misspellings necessitate extensive cross checking before the data can be used with any degree of confidence.  Most troublesome are several instances of the transposition of the librettist with the composer plus the garbling of names and titles.</p>

<p>However, even with these limitations and the dated nature of his material, Stieger remains the most complete printed catalogue on the subject.  A later effort, The Mellen Guide, adds little to Stieger except for obscure American opera where it often proves useful, although frequently unreliable.</p>

<p>3.  Grüber lists only German opera, not operetta, and lacks any theater information, with the exception of broadcast premieres.</p>

<p>As stated, these sources were the basic template from which to begin.  However, a few steps remained before reaching what you are using at this moment.  Many works not found in any of the above but which were found in sources ranging from Musical America to monographs, libretti catalogues, library catalogues, theatrical histories, and the Central Opera Service Bulletin are included.</p>

<p>Among theatrical histories, four that proved particularly useful are The London Stage 1660-1800 (Southern Illinois University Press, Carbondale, 1960-68, 14 vols.), George C. D. Odell Annals of the New York Stage (Columbia University Press, New York, 1927-49, 15 vols.), J. P. Wearing The London Stage 1890-1959 (The Scarecrow Press, Metuchen, New Jersey, 1976-93, 16 vols.), and Richard C. Norton A Chronology of American Musical Theater (Oxford University Press, New York, 2002, 3 vols.).</p>

<p>Finding librettist names was a multi-year effort involving endless hours with printed sources, microfilm, the web-based union catalogues for the United Kingdom as well as the Library of Congress.  Other on-line resources used include WorldCat, the New York Public Library, the Canadian Music Centre, the Australian Music Centre, and the Finnish Music Information Centre.  And, of course, Google has proved invaluable, and on-line catalogues of national libraries in Austria, Belgium, Brazil, Canada, the Czech Republic, Denmark, Estonia, Germany, Italy, France, Ireland, the Netherlands, Poland, Portugal, Spain, Sweden, and Switzerland.</p>

<p>If you find discrepancies from Grove, Stieger, the Mellen Guide, or other printed sources, the invariable rule of thumb was to always grant final authority to an existing libretto or contemporary source, not to any secondary reference.</p>

<p>The original release of this database in 2003 contained every work termed an oratorio found in Grove, and the online catalogues of the Library of Congress, the British Library, the Bibliothèque nationale de France, the union catalogues for Germany and Italy, and the national libraries of Denmark, Sweden, Spain, Portugal, Belgium, the Netherlands, Poland, the Czech Republic, Brazil, etc.</p>

<p>This current version is basically the same list but with hundreds of blanks filled in. This has been made possible by Google and the unique access it provides to items such as obituaries and contemporary journals.</p>

<p>An excellent example of the information that can only be found using Google is the composer Cornelius Ward.  The British Library has a copy of his The Prodigal Son and assigns it a date of 1889. Thanks to the local historical society of Buckinghamshire one can discover that Ward was a carpenter who was for many years active musically with his local church in Speen.  The society has in their possession an 1869 invoice from Novello to Ward.  This receipt plus the fact that he was 73 years old in 1889 makes it obvious that the British Library date is wrong. If he paid the printing costs in 1869 out of his carpenter's wages, it must have been for a performance of his work done at that time in his church.</p>

<p>This type of information repeated hundreds of times is what differentiates this revision from its predecessor.</p>

