<%= render :partial => 'show_notes_sidebar' unless @no_nav%>

<div id="content" class="span9 about-content">
<div class="row">
    <div class="span9">
      <h2>Source Notes</h2>
    </div>
  </div>
	
</div>