<div id="sidebar" class="span3">
  <div id="sidebar-nav">
    <ul class="nav nav-list affix">
      <li class="nav-header"><%=t('d2g.nav.about')%></li>
      <li><%= link_to t('New Entries, Comments, and Corrections'), '/team' %></li>
      <li><%= link_to t('Logo Image Credit'), '/technical_description' %></li>
      <li><%= link_to t('d2g.acknowledgements_heading'), about_project_path('/acknowledgements') %></li>
    </ul>
  </div>
</div>
