<h4>Logo Image Credit</h4>
<p>&nbsp;</p>
<p>Chromolithographic plate from Opern-Tÿpen (Berlin: G. Kölle, 1882) depicting Carmen and Escamillo in Act IV of Bizet’s Carmen<p>
<p>Image Digitized by Ray Heigemeir/Stanford University Libraries</p>
