<%= render :partial => 'show_about_sidebar' unless @no_nav%>

<div id="content" class="span9 about-content">
<div class="row">
    <div class="span9">
      <h2>About Opening Night!</h2>
      </div>
      </div>
      <div class="row">
      <div class="span9">
      
      <p>Opening Night! Is a cross-index of data for over 38,000 opera and oratorio premieres.</p> 

	<p>Browse within any category, or conduct complex searches by combining search terms with one or more of the categories in the left column.<p> 

	<p>Sort results by relevance, composer, title, or year. Bookmark citations to send via email.</p>

	<p>Search words are truncated (e.g., a search for “car” will find Card, Carlo, Carmen, etc.)</p>

	<p>Source notes provide detailed descriptions for each category, including content parameters and exceptions, and notes on forms of personal and geographical name entries.</p>

	<p>Follow the Searchworks links to find related scores, recordings and books in Stanford’s library catalog. For the most complete results, you may wish to search directly in the SearchWorks catalog using alternate forms of the work title.</p>
    </div>
    </div>
  <div class="row">
	  <div class="span9">
			<%= render :partial => @page_name %>
		</div>
	</div>
</div>